# Data Science Challenge

In [2]:
import pandas as pd
import numpy as np

# Exercise 1

In [3]:
!ls /home/dsc/Data/challenge/

bookings.csv.bz2  searches.csv.bz2

In [4]:
!bzcat /home/dsc/Data/challenge/bookings.csv.bz2 | head -10000 > bookings_sample.csv

bzcat: I/O or other error, bailing out.  Possible reason follows.
bzcat: Broken pipe
	Input file = /home/dsc/Data/challenge/bookings.csv.bz2, output file = (stdout)

In [5]:
!bzip2 -f bookings_sample.csv

In [6]:
!ls -l

total 536
-rw-rw-r-- 1 dsc dsc 535893 nov 20 18:29 bookings_sample.csv.bz2
-rw-rw-r-- 1 dsc dsc   8260 nov 20 18:29 DS_challenge.ipynb

In [7]:
!bzcat bookings_sample.csv.bz2 | wc -l

10000

In [8]:
import bz2
with bz2.BZ2File('/home/dsc/DS/DS_challenge/bookings_sample.csv.bz2') as file_bz2:
    count = 0
    for line in file_bz2:
        count += 1
print(count)

10000

### Getting number of rows from the whole file (Chunksize)

In [58]:
chunks_b = pd.read_csv('/home/dsc/Data/challenge/bookings.csv.bz2',
                 compression = 'bz2',
                 sep = '^',
                 chunksize = 100000)

In [37]:
rows = 0
for chunk in chunks:
    rows += len(chunk)
print(rows)

/home/dsc/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (7,8,27) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

10000010

# Exercise 2

In [9]:
bookings = pd.read_csv('/home/dsc/DS/DS_challenge/bookings_sample.csv.bz2', compression='bz2', sep='^')

In [10]:
bookings.shape

(9999, 38)

In [11]:
bookings.columns

Index(['act_date           ', 'source', 'pos_ctry', 'pos_iata', 'pos_oid  ',
       'rloc          ', 'cre_date           ', 'duration', 'distance',
       'dep_port', 'dep_city', 'dep_ctry', 'arr_port', 'arr_city', 'arr_ctry',
       'lst_port', 'lst_city', 'lst_ctry', 'brd_port', 'brd_city', 'brd_ctry',
       'off_port', 'off_city', 'off_ctry', 'mkt_port', 'mkt_city', 'mkt_ctry',
       'intl', 'route          ', 'carrier', 'bkg_class', 'cab_class',
       'brd_time           ', 'off_time           ', 'pax', 'year', 'month',
       'oid      '],
      dtype='object')

In [12]:
bookings.groupby('arr_port')['pax'].sum().sort_values(ascending=False).head(10)

arr_port
HKG         112
LGA          95
ORD          94
JFK          92
SFO          91
LAX          91
MCO          90
DCA          82
DEN          79
LHR          76
Name: pax, dtype: int64

In [14]:
bookings.groupby('arr_port')['pax', 'arr_city'].agg({'pax': 'sum'}).head(10)

         pax
         pax
arr_port
AAL        0
ABQ       12
ABV        2
ABZ       -6
ACC        4
ADD        7
ADZ        2
AEP        7
AER        1
AES        3

**Removing white spaces from the columns**

In [ ]:
bookings.columns = bookings.columns.str.strip()

In [18]:
bookings.columns

Index(['act_date', 'source', 'pos_ctry', 'pos_iata', 'pos_oid', 'rloc',
       'cre_date', 'duration', 'distance', 'dep_port', 'dep_city', 'dep_ctry',
       'arr_port', 'arr_city', 'arr_ctry', 'lst_port', 'lst_city', 'lst_ctry',
       'brd_port', 'brd_city', 'brd_ctry', 'off_port', 'off_city', 'off_ctry',
       'mkt_port', 'mkt_city', 'mkt_ctry', 'intl', 'route', 'carrier',
       'bkg_class', 'cab_class', 'brd_time', 'off_time', 'pax', 'year',
       'month', 'oid'],
      dtype='object')

**Unique values for "rloc" column"**

In [21]:
len(bookings['rloc'].unique())

3638

### Using Chunksize

# Exercise 3

In [38]:
!bzcat /home/dsc/Data/challenge/searches.csv.bz2 | head -10000 > searches_sample.csv

bzcat: I/O or other error, bailing out.  Possible reason follows.
bzcat: Broken pipe
	Input file = /home/dsc/Data/challenge/searches.csv.bz2, output file = (stdout)

In [40]:
!bzip2 -f searches_sample.csv

In [41]:
!ls -l

total 788
-rw-rw-r-- 1 dsc dsc 535893 nov 20 18:29 bookings_sample.csv.bz2
-rw-rw-r-- 1 dsc dsc  24187 nov 20 19:21 DS_challenge.ipynb
-rw-rw-r-- 1 dsc dsc 244720 nov 20 19:18 searches_sample.csv.bz2

In [42]:
searches = pd.read_csv('searches_sample.csv.bz2', compression='bz2', sep='^')

In [44]:
searches.shape

(9999, 45)

In [54]:
searches['Date'] = pd.to_datetime(searches['Date'], format='%Y-%m-%d')

0      2013-01-01
1      2013-01-01
2      2013-01-01
3      2013-01-01
4      2013-01-01
5      2013-01-01
6      2013-01-01
7      2013-01-01
8      2013-01-01
9      2013-01-01
10     2013-01-01
11     2013-01-01
12     2013-01-01
13     2013-01-01
14     2013-01-01
15     2013-01-01
16     2013-01-01
17     2013-01-01
18     2013-01-01
19     2013-01-01
20     2013-01-01
21     2013-01-01
22     2013-01-01
23     2013-01-01
24     2013-01-01
25     2013-01-01
26     2013-01-01
27     2013-01-01
28     2013-01-01
29     2013-01-01
          ...
9969   2013-01-10
9970   2013-01-10
9971   2013-01-10
9972   2013-01-10
9973   2013-01-10
9974   2013-01-10
9975   2013-01-10
9976   2013-01-10
9977   2013-01-10
9978   2013-01-10
9979   2013-01-10
9980   2013-01-10
9981   2013-01-10
9982   2013-01-10
9983   2013-01-10
9984   2013-01-10
9985   2013-01-10
9986   2013-01-10
9987   2013-01-10
9988   2013-01-10
9989   2013-01-10
9990   2013-01-10
9991   2013-01-10
9992   2013-01-10
9993   2013-01-10
9994   2013-01-10
9995   2013-01-10
9996   2013-01-10
9997   2013-01-10
9998   2013-01-10
Name: Date, Length: 9999, dtype: datetime64[ns]